.main{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #cecece;
    padding: 10px;
}


/* Style for the container holding search bar and list */
.search {
    text-align: left;
    margin-top: 50px;
    font-family: arial;
}

/* Style for the search input */
#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style for the student list */
#personList {
    list-style-type: none;
    padding: 0;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#personList li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

#personList li:last-child {
    border-bottom: none;
}

#student-profile {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}


.person-info {
    background-color: #ffffff; /* Set the background color to white */
    border: 1px solid #e0e0e0; /* Add a light gray border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    padding: 16px; /* Add some padding to create space around the content */
    margin-bottom: 16px; /* Add margin to separate each card */
}

.person-info p {
    margin: 0; /* Remove default margin for <p> elements inside .student-info */
}




