<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Teacher Select</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styleAdmin.css') }}">
    <!-- Include jQuery library from a CDN (Content Delivery Network) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <script src="{{ url_for('static', filename='adminTeacher.js') }}"></script>



    <div class="main">
        <button class="switch-button">Select Student Instead</button>

        <div class="search">
            <input type="text" id="searchInput" placeholder="Type teacher name...">
            <ul id="teacherList"></ul>
            <input type="text" id="selectedTeacher" placeholder="Selected Teacher" readonly hidden=hidden>
        </div>

        <div class="teacher-profile">
            <p class="placeholder">Select a teacher to view latest sign-outs.</p>
        </div>
    </div>



    <script>
        var listOfTeacherNames = {{ listOfTeacherNames | tojson | safe }};
    </script>

</body>

</html>